<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="pub.xgo.adminserver.config.MybatisBaseEnumTypeHandler"
                     javaType="pub.xgo.adminserver.model.enums.AdminStatusEnums"/>
    </typeHandlers>
</configuration>